build/
doc/
docs/md/
docs/python/
docs/generated
docs/schemas/_generated
examples/.env

*.egg-info/
*.whl

__pycache__/
.vscode/launch.json
.idea/
.vs/
tools/unit_generator/*/

*.orig
venv*/

.DS_Store
site-private
