name: pre-commit

permissions:
  contents: read
  pull-requests: write

on:
  workflow_dispatch:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
    
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
